@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f7f9fa;
}

.text-c-light{
    color: #f7f9fa !important;
}
.text-c-dark{
    color: #141719 !important;
}
.text-c-lightdark{
    color: #9da5ad !important;
}
.text-c-lightblue{
    color: #009ce9 !important;
}
.text-c-darkblue{
    color: #2c73d2 !important;
}

@media screen and (max-width: 1400px) {
    .hbox-1 {
        margin-left: 110px !important;
    }
}

@media screen and (max-width: 1199px) {
    .hbox-1 {
        margin-left: 30px !important;
    }
}

.navbar {
	 height: 80px;
	 background-color: transparent;
	 border: none;
	 color: white;
	 transition: background-color 0.2s ease 0s;
}

 .navbar.solid {
	 background-color: #009ce9;
	 transition: background-color 0.2s ease 0s;
	 box-shadow: 0 0 1px #009ce9;
}

.offcanvas.offcanvas-end{
    background-color: #009ce9;
}






.headerhero{
    background: #009ce9;
    background-image: linear-gradient(135deg, rgba(0, 156, 233, 0.90), rgba(44, 115, 210, 0.90)),url('../images/header-min.png');    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 650px;
    padding-top: 80px;
}




.social {
    color: #f7f9fa;
    padding: 8px;
    width: 42px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: linear-gradient(135deg, rgba(0, 156, 233), rgba(44, 115, 210));
}


.sastanak{
    background: #009ce9;
    background: linear-gradient(135deg, rgba(0, 156, 233), rgba(44, 115, 210));
}

.hbox-1{
    width: 430px;
    height: 250px;
    border-radius: 20px;
    background: url('../images/hl-2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 150px;
    margin-left: 200px;
}

.hbox-2{
    width: 430px;
    height: 250px;
    border-radius: 20px;
    background: url('../images/hl-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


.kartica-main{
    height: 280px;
    background-color: black;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 15px;
    position: relative;

}

.kartica-main:hover .kartica-content{
    top: -5px;
}


.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.kartica-main:hover .hide {
    visibility: visible;
    opacity: 1;
}

.kartica-content{
    transition: top ease 0.5s;
    position: relative;
    top: 45px;
}


.kartica-box{
    position: absolute;
    bottom: 15px;
    padding-right: 30px;
}

.custom-btn{
    background: linear-gradient(135deg, rgba(0, 156, 233), rgba(44, 115, 210));
    border-radius: 22px;
    padding: 7px 20px 7px;
    border: 0;
    font-size: 15px;
}

.call-btn{
    background-color: #fff;
    border-radius: 22px;
    padding: 11px 40px 11px;
    border: 0;
    font-size: 15px;

}


.contact-btn{
    background: linear-gradient(135deg, rgba(0, 156, 233), rgba(44, 115, 210));
    border-radius: 22px;
    padding: 11px 20px 11px;
    border: 0;
    font-size: 15px;
}

.kartica-2-main{
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    position: relative;
}

.kartica-2-icon{
    background: linear-gradient(135deg, rgba(0, 156, 233), rgba(44, 115, 210));
    width: 90px; 
    height: 90px;
    border-radius: 50%;
    display: flex; /* or inline-flex */
    align-items: center; 
    justify-content: center;
}

.fs-13{
    font-size: 13px !important;
}

.kartica-2-box{
    position: absolute;
    bottom: 20px;
}

.footerbox{
    background-color: #fff;
    margin-top: -50px;
    position: relative;
    border-radius: 20px;
}

.desfooter{
    background-color: #2c73d2 !important;
}

.kartica-3-img{
    height: 130px;
    width: 130px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
}



.status{
    background-color: #cda23d;
    display: block;
    padding: 5px 15px 5px;
    border-radius: 20px;
    font-size: 13px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    float: right;
}


.nospac{
    margin: 0;
    padding: 0;
}

.nav-item{
    padding: 0px 10px 0px;
}

.mtext{
    overflow-wrap: break-word;
}

.ls-1{
    letter-spacing: 1px;
}

.ls-2{
    letter-spacing: 2px;
}

.ls-3{
    letter-spacing: 3px;
}
